services:
  base:
    init: true
    image: python:${MAJOR_VERSION}-base
    build:
      context: .
      target: base-python
      secrets:
        - ubuntu_pro_token
      cache_from:  # should speed up the build in CI, where we have a cold cache
        - ghcr.io/opensafely-core/base-action:${BASE}
        - ghcr.io/opensafely-core/python:${MAJOR_VERSION}
      args:
        # this makes the image work for later cache_from: usage
        - BUILDKIT_INLINE_CACHE=1
        # env vars supplied by just
        - BUILD_NUMBER
        - BUILD_DATE
        - REVISION
        - BASE
        - MAJOR_VERSION

  python:
    extends:
      service: base
    image: python:${MAJOR_VERSION}
    build:
      target: python

secrets:
  ubuntu_pro_token:
    file: ${UBUNTU_PRO_TOKEN_FILE:-.secrets/ubuntu_pro_token}
