# Basic requirements for notebook infrastructure provided in base
# docker image
pip-tools
jupyter
jupyterlab
jupytext
bash_kernel
nbval
opensafely-matching

# Commonly-used packages provided in base docker image
pandas-gbq
pandas
numpy
ebmdatalab
matplotlib
scipy
tqdm
numba
opensafely-cohort-extractor
pyarrow
venn
kaleido
scikit-learn
lifelines

# Both these required for plotly+notebooks
plotly
ipywidgets

# Add extra per-notebook packages here
pillow


# Allow for projects to run tests inside the container
pytest

