# Basic requirements for notebook infrastructure provided in base
# docker image
pip-tools
notebook
jupyter-console
jupyterlab
jupytext
bash_kernel
nbval
opensafely-matching

# Commonly-used packages provided in base docker image
pandas
numpy
matplotlib
scipy
tqdm
numba
opensafely-cohort-extractor
pyarrow
venn
kaleido
scikit-learn
lifelines

# Both these required for plotly+notebooks
plotly
ipywidgets

# Add extra per-notebook packages here
pillow
cairosvg

# Allow for projects to run tests inside the container
pytest

# For visualisation of set overlaps
upsetplot
