name: Run tests
on:
  pull_request:
env:
  UBUNTU_PRO_TOKEN: ${{ secrets.UBUNTU_PRO_TOKEN }}
jobs:
  version-tests:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        version: [v1, v2]
    steps:
    - uses: actions/checkout@v6
    - uses: "opensafely-core/setup-action@v1"
      with:
          install-just: true
    - name: Build image
      run: just build ${{ matrix.version }}
    - name: Run tests
      run: just test ${{ matrix.version }}
  lint:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6
    - uses: "opensafely-core/setup-action@v1"
      with:
          install-just: true
    - name: Run linters
      run: just check 

